@media (max-width: 1024px) {
  /* !phone */
  .phone-block {
    max-width: 330px;
    width: 100%;
  }
  .tab-box img {
    width: 300px;
    height: 300px;
  }
  /* ! tab */
  .tab-block h5 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  /* ! laptops */
  .laptop-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 950px;
    width: 100%;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
  }
  .laptop-block {
    margin-top: 70px;
  }
  .laptop-block h6 {
    margin-top: 50px;
  }
  .laptop-block h6 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .laptop-block h2 {
    font-size: 1.8rem;
    line-height: 3rem;
  }
  .laptop-container {
    width: 95%;
    margin: 0 auto;
  }
  .laptop-box img {
    max-width: 500px;
    width: 100%;
  }
  /* !contact */
  .contact-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contact-class {
    margin-top: 30px;
    max-width: 700px;
    width: 100%;
  }
  .main-contact-class {
    margin-top: 20px;
  }
  .map {
    width: 100%;
  }
  /* ! footer */
  .footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-div {
    max-width: 350px;
    width: 100%;
  }
  /* ! header */
  .nav-ul {
    width: 300px;
  }
  .a-class {
    font-size: 20px;
  }
  .logo {
    width: 150px;
  }
}
@media (max-width: 768px) {
  /* !phone */
  .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .phone-block {
    max-width: 370px;
    width: 100%;
  }
  /* ! tab*/
  .tab-box {
    width: 100%;
  }
  /* !laptops */
  .laptop-box img {
    max-width: 500px;
    width: 100%;
  }
  .laptop-container {
    width: 90%;
    margin: 0 auto;
  }

  .tab-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .laptop-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 950px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  /* ! footer */
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-div {
    text-align: center;
    max-width: 700px;
    width: 100%;
  }
  .office {
    text-align: center;
    max-width: 700px;
    width: 100%;
  }
  .follow {
    text-align: center;
    max-width: 700px;
    width: 100%;
  }
  /* ! header */
  .nav-ul {
    width: 250px;
  }
}
@media (max-width: 480px) {
  /* !tab */
  .tab-block {
    text-align: center;
  }
  /* ! laptop */
  .laptop-block {
    margin-top: 0;
  }
  .laptop-block h6 {
    margin-top: 0;
  }
  /* ! contact */
  .contact-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-contact-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navigation {
    padding-top: 30px;
    display: none;
  }
  .burger-bar {
    display: block;
  }
  .navigation.show {
    display: block;
  }
  .nav-ul {
    flex-direction: column;
  }
  .logo{
    width: 90px;
  }
  .nav-ul{
    width: 0px;
  }
  
}
